{% extends 'base.html.twig' %}

{% block title %}Frente de Loja{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon" ><span class="glyphicon glyphicon-barcode"></span></span>
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>

                    </div>
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/240/240/" width="240" height="240">
                        <div class="caption">
                            <h3>Nome do Produto</h3>
                            <p>Descrição do Produto</p>
                            <p>Preço unitário</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Carrinho de Compras</h3>
                </div>
                <div class="panel-body">
                    <ol> 
                        <li>produto xxxxx - valor R$ 123,50</li>
                        <li>produto xxxxx - valor R$ 123,50</li>
                        <li>produto xxxxx - valor R$ 123,50</li>
                        <li>produto xxxxx - valor R$ 123,50</li>
                        <li>produto xxxxx - valor R$ 123,50</li>


                    </ol>
                </div>
                <div class="panel-footer text-right">
                    Total a pagar: R$ 00,00
                </div>
            </div>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-estorno">Estornar Item</button>
            <button type="button" class="btn btn-danger">Cancelar Venda</button>
            <button type="button" class="btn btn-success">Finalizar Venda</button>
        </div>
    </div>






    <div id="modal-estorno" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Estorno de Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Informe o número do item</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                    <button type="button" class="btn btn-primary">Estornar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}